<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <input placeholder="BudgetId" formControlName="budget_id"  />
  <input placeholder="CategoryId" formControlName="cat_id" />
  <input placeholder="Amount" formControlName="amount"/>
  <input placeholder="Date" formControlName="date"/>
  <input placeholder="Description" formControlName="description"/><br>
  <button type="submit">Add Transaction</button>
  <button type="reset" (click)="revert()">Clear</button>
</form>

<h2>User Transactions: </h2>
<table>
  <thead>
    <tr>
      <th>Budget</th>
      <th>Date</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{transaction.budget_name}}</td>
      <td>{{transaction.date}}</td>
      <td>{{transaction.cat_name}}</td>
      <td>{{transaction.amount}}</td>
      <td id="desc">{{transaction.description}}</td>
    </tr>
  </tbody>
</table>
