<div id="authBox" >
    <h1 id="loginHeader">Login</h1>
    <form>
        <input type="text" placeholder="Username"/>
        <br>
        <input type="password" placeholder="Password"/>
        <br>
        <input type="submit"/>
    </form>
{{userInfo}}

    <h1 id="registerHeader">Register</h5>
    <form>
        <input type="text"  placeholder="First Name"/>
        <br>
        <input type="text" placeholder="Last Name"/>
        <br>
        <input type="text"  placeholder="Email"/>
        <br>
        <input type="text" placeholder="Username"/>
        <br>
        <input type="password" placeholder="Password"/>
        <br>
        <input type="submit"/>
    </form>
</div>

